.menu-ul li {
    padding-right: 11px;
}

  /* header */
  .menu-container {
    display: grid;
    grid-template-columns: repeat(15, auto); /* Có 15 cột, tự động căn chỉnh chiều rộng cho mỗi cột */
    gap: 10px; /* Khoảng cách giữa các cột */
    justify-content: center; /* Căn giữa các cột theo chiều ngang */
    align-items: center; /* Căn giữa các cột theo chiều dọc */
    /* overflow-x: auto; Trượt ngang nếu menu quá rộng */
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Menu items nằm trong 1 hàng */
  }
  
  li {
    font-weight: bold;
    padding: 3px 7px;
    border-radius: 4px;
    background-color:white;
    white-space: nowrap; /* Ngăn chặn việc xuống dòng trong menu item */
  }
  
  li i {
    margin-right: 5px; /* Khoảng cách giữa biểu tượng và văn bản trong mục menu */
  }
  
  .menu-footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .menu-item-footer div {
    padding: 10px 0;
  }
  .footer {
    display: grid;
    grid-template-columns: 188px 420px 305px 1fr;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  .div-footer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }